#map {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
.toolbar {
    height: 10vh;
    width: 100vw;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 155, 208);
    color: white;
}
#panel {
    display: block;
    position: absolute;
    top: 10vh;
    right: 0px;
    transform: translateX(100%);
    z-index: 1000;
    box-sizing: border-box;
    font-size: 2vh;
    height: 90vh;
    max-width: 500px;
    border-radius: 5px;
}
#panel input {
    width: 3vh;
    height: 3vh;
}
#side-panel-toggle {
    width: 100px;
    height: 50px;
    top: 10px;
    left: -100px;
    flex-shrink: 0;
    border-radius: 5px 0 0 5px; 
    border-width: 1px 0px 1px 1px; 
    position: absolute;
    font-size: 2vh;
    background-color: whitesmoke;
    z-index: 1000;
}
#panel.open {
    transform: translateX(0);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}
.bus-toggle {
    display: flex; 
    align-items: center;
}
.bus-toggle p {
    margin: 2px;
}
#toggle {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    height: 90vh; 
    width: 50vw; 
    background-color: whitesmoke; 
    box-sizing: border-box;
    overflow-x: auto;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 5px; 
    box-shadow: none;
}
.toggle-top {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}
h1 {
    margin: 0px;
}